<footer>
    <div class="container pie_de_pagina">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                    Valledupar - Cesar <br>
                    Teléfonos: 11111111111<br>
                </h6>
                
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">Redes Sociales </h6>
                <div class="redes-footer">
                    <a href=""><img src="../../assets/facebook.png"></a>
                    <a href=""><img src="../../assets/twitter.png"></a>
                    <a href=""><img
                            src="../../assets/youtube.png"></a>
                    <a href=""><img src="../../assets/instagram.png"></a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-right">
                <p class="text-muted small">Figeroa Daza @2020.<br> </p>
            </div>
        </div>
    </div>
</footer>
