<div class="container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="formularioRegistro">
        <div class="cabecera-formulario"> <p>Registro de Empresas</p> </div>

        <div class="form-group">
          <label>Empresa Id:</label>
          <input type="text" name="empresaId" formControlName="empresaId" [(ngModel)]="empresa.empresaId" placeholder ="aqui empresaId" class="form-control">
          <div
            *ngIf="empresaId.invalid && (empresaId.dirty || empresaId.touched)" class="alert alert-danger">
            <div *ngIf="empresaId.errors.required">
              el nombre es un valor requerido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Nombre empresa:</label>
          <input type="text" formControlName="nombre" name="nombre" [(ngModel)]="empresa.nombre" placeholder ="aqui nombre" class="form-control">
          <div
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
            <div *ngIf="nombre.errors.required">
              el nombre es un valor requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              el nombre debe tener mas de 7 caracteres
            </div>
            <div *ngIf="nombre.errors.maxlength">
              el nombre debe tener menos de 30 caracteres
            </div>
          </div>
        </div>

          <div class="form-group">
            <label>Cantidad Trabajadores:</label>
            <input type="number" name="cantidadTrabajadores"  formControlName ="cantidadTrabajadores" [(ngModel)]="empresa.cantidadTrabajadores"  placeholder ="aqui cantidadTrabajadores" class="form-control">
            <div
              *ngIf="cantidadTrabajadores.invalid && (cantidadTrabajadores.dirty || cantidadTrabajadores.touched)" class="alert alert-danger">
              <div *ngIf="cantidadTrabajadores.errors.required || cantidadTrabajadores.errors.pattern">
                el precio es requerido
              </div>
              <div *ngIf="cantidadTrabajadores.errors.pattern">
                el precio solo debe tener numeros
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Valor Activos :</label>
            <input type="number" name="valorActivos" formControlName ="valorActivos" [(ngModel)]="empresa.valorActivos"  placeholder ="aqui valorActivos" class="form-control">
            <div
              *ngIf="valorActivos.invalid && (valorActivos.dirty || valorActivos.touched)" class="alert alert-danger">
              <div *ngIf="valorActivos.errors.required || valorActivos.errors.pattern">
                el precio es requerido
              </div>
              <div *ngIf="valorActivos.errors.pattern">
                el precio solo debe tener numeros
              </div>
            </div>
          </div>

            <button class="button btn-guardar" (click) = "registrarEmpresa()" [disabled]="formularioRegistro.invalid"><i class="fas fa-save"></i>Registrar Empresa </button>
            <button class="button btn-cancelar"><i class="fas fa-window-close"></i>Cancelar</button>
      </form>

    </div>
  </div>
</div>
