<div class="container ">

  <h1 >
      <b>Parcial Corte 2 - Web</b>
  </h1>

  <p>Lorem ipsum dolor sit</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dignissimos quam quaerat deleniti aspernatur magni explicabo, consequatur fugiat libero maxime numquam eum provident unde natus nihil assumenda tempore vel laudantium inventore nam id. Alias, veritatis soluta pariatur tempore, distinctio suscipit at, dolores consectetur tempora quis animi recusandae eveniet nam quisquam quo iure delectus quam error commodi magnam consequuntur nulla voluptatem unde accusamus? Ipsum aliquid expedita suscipit amet velit a, voluptate reprehenderit optio corporis illo incidunt deleniti labore, omnis, veniam magni.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quibusdam voluptates fuga! Ipsum aperiam magnam, aspernatur enim nostrum labore facere sed eum perspiciatis temporibus quae recusandae quasi veniam pariatur ea?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus officiis quas magnam earum architecto ea, ratione saepe nesciunt nulla, ducimus deleniti iusto reprehenderit voluptas neque, porro accusantium sit? Reiciendis repellendus eligendi consequatur, aliquam odio qui veniam labore eaque ut cupiditate nobis excepturi unde. Deserunt ea id expedita architecto in deleniti soluta suscipit! Neque fuga ullam, autem deserunt, id dolor explicabo quo error sint ratione, sapiente architecto distinctio nisi maxime eligendi nobis? Quidem, libero tempore! Quis sunt pariatur rerum consequatur! Rem atque perspiciatis perferendis, obcaecati ipsam odio aspernatur nam autem et dolores voluptatibus omnis! Architecto doloribus necessitatibus magnam error labore.</p>
</div>
